<link rel="import" href="../../../bower_components/polymer/lib/elements/custom-style.html">

<custom-style>

	<style>

		html {

			--ms-red-100: #f4c7c3;
			--ms-red-300: #e67c73;
			--ms-red-500: #db4437;
			--ms-red-700: #c53929;
			--ms-blue-100: #c6dafc;
			--ms-blue-300: #7baaf7;
			--ms-blue-500: #4285f4;
			--ms-blue-700: #3367d6;
			--ms-green-100: #b7e1cd;
			--ms-green-300: #57bb8a;
			--ms-green-500: #0f9d58;
			--ms-green-700: #0b8043;
			--ms-yellow-100: #fce8b2;
			--ms-yellow-300: #f7cb4d;
			--ms-yellow-500: #f4b400;
			--ms-yellow-700: #f09300;

			--ms-grey-50: #eceff1;
			--ms-grey-100: #cfd8dc;
			--ms-grey-200: #b0bec5;
			--ms-grey-300: #90a4ae;
			--ms-grey-400: #78909c;
			--ms-grey-500: #607d8b;
			--ms-grey-600: #546e7a;
			--ms-grey-700: #455a64;
			--ms-grey-800: #37474f;
			--ms-grey-900: #263238;

			--dark-divider-opacity: 0.12;
			--dark-disabled-opacity: 0.38;
			--dark-secondary-opacity: 0.54;
			--dark-primary-opacity: 0.87;

			--light-divider-opacity: 0.12;
			--light-disabled-opacity: 0.3;
			--light-secondary-opacity: 0.7;
			--light-primary-opacity: 1.0;

		}

	</style>

</custom-style>