<link rel="import" href="../../../bower_components/polymer/lib/elements/custom-style.html">

<custom-style>

	<style>

		html {

			--paragraph: {
				font-family: "Lucida Bright", "Georgia", serif;
				color: var(--ms-grey-600);
				margin-top: 0;
			};

			--heading: {
				font-family: "Arial Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
				text-transform: uppercase;
				color: var(--ms-grey-900);
				margin-top: 0;
			};

			--ms-p: {
				@apply --paragraph;
				font-size: 1.2rem;
				line-height: 1.9rem;
			};

			--ms-p-narrow: {
				@apply --paragraph;
				font-size: 1rem;
				line-height: 1.5rem;
			};

			--ms-h1: {
				@apply --heading;
				font-size: 3rem;
			};

			--ms-h1-narrow: {
				@apply --heading;
				font-size: 2rem;
			};

			--ms-h2: {
				@apply --heading;
				font-size: 1rem;
			};

			--ms-h2-narrow: {
				@apply --heading;
				font-size: 0.8rem;
			};

		}

	</style>

</custom-style>