<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="../../../src/components/ms-styles/ms-styles.html">
<link rel="import" href="../../../src/components/ms-close/ms-close.html">

<dom-module id="ms-view-wrapper">

	<template>

		<style include="ms-styles">

			:host {
				@apply --layout-wrapper;
			}

			/* VIEW */

			.view {
				position: relative;
			}

			/* LINK */

			.link::slotted(a) {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				left: 0;
				background: var(--ms-grey-100);
				transition: top 0.2s;
			}

			:host([selected]) .link::slotted(a) {
				top: -100%;
				transition: top 0.2s ease 0.2s;
			}

			/* CLOSE */

			.close {
				position: absolute;
				top: -2rem;
				right: 1rem;
				height: 2rem;
				width: 2rem;
				transition: top 0.2s ease 0s;
			}

			:host([selected]) .close {
				top: 1rem;
				transition: top 0.2s ease 0.2s;
			}

		</style>

		<div class="view">
			<slot name="view"></slot>
		</div>		

		<slot name="link" class="link"></slot>

		<a href="/" class="close">
			<ms-close></ms-close>
		</a>

	</template>

	<script>

		class MsViewWrapper extends Polymer.Element {

			static get is() { return 'ms-view-wrapper'; }

			static get properties() {
				return {
					selected: {
						type: Boolean,
						reflectToAttribute: true
					}
				};
			}
		}

		window.customElements.define(MsViewWrapper.is, MsViewWrapper);

	</script>

</dom-module>
